
.project {
    display: flex;
    flex-direction: row;
    margin: 50px 50px 150px;
    flex-wrap: wrap;
}

h3 {
    margin-bottom: 50px;
}

.flex-div {
    text-align: left;
    position: relative;
    justify-content: center;
    margin: 0 auto 50px;
    width: 500px;
    height: 600px;
}

.flex-div h1 {
font-size: 2.5rem;
}

.edit {
    font-size: 1.5rem;
}

.details {
    font-size: 1.25rem;
}

label {
    font-size: 1.25rem;
}

.input {
    width: 85%;
}

.notes-div {
    /* margin-top: 25px; */
    border: solid;
    overflow: scroll;
    height: 200px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fea386;
}

.photo-box {
    height: 425px;
    width: 500px;
    position: absolute;
    left: 0;
    bottom: 0;
    align-items: center;
}

.show-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* height: auto; */
    /* float: left; */
}

/* .note-form {
    width: 100%;
} */

.notes-header {
    background-color: yellow;
    height: 50px;
    padding: 10px;
}

.note {
  text-align: left;
  margin: 0 15px 10px;
  border-bottom: solid;
}

.note button {
    margin-bottom: 10px;
}

.note span {
    background-color: white;
}

.add {
position: relative;
} 

.add input {
    position: absolute;
    left: -10px;
    margin-bottom: 10px;
}

/* @media screen and (max-width: 420px) {
.flex-div {
    height: 500px;
    text-align: center;
}

.add input {
    position: static;
}

.project {
    margin-bottom: 100px;
}

} */

.note-form {
    width: 90%;
}

@media screen and (max-width: 420px) {
    .flex-div {
        height: 725px;
        text-align: center;
    }
    
    input {
        margin: 0 auto;
    }
    
    .project {
        margin: 50px 0 175px;
        width: auto;
    }
    
.note-form{
    margin: 0 auto;
}

.photo-box {
    width: 50%;
    height: 50%;
}

.notes-div {
    position: static;
    margin-top: 25px;
}

}


@media screen and (max-width: 860px) {
    .project {
        margin: 50px 0 200px;
    }
    
    .flex-div {
        text-align: center;
        width: 75%;
        height: 575px;
    }

    .add input {
        position: static;
    }
        
    .photo-box {
        width: 100%;
        left: 0;
    }

    .show-photo {
        width: 100%;
        left: 50px;
    }

    .note-form{
        margin: 0 auto;
    
    }

}