* {
    box-sizing: border-box;
    }

body {
    position: relative;
    text-align: center;
    background-color: #f6e4c4;
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}



.card {
    background-color: #fd3a69;
}

